{% extends 'base.html.twig' %}

{% block title %}Salsa Bachata Online{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
{% endblock %}

{% block body %}

{{ include('comunes/_header.html.twig') }}

<main class="container">
  
  <div class="starter-template text-center py-5 px-3">
    <h1 class="display-4">Clases Online de Bachata y Salsa </h1>
    <p class="lead">Sé parte de nuestra comunidad premium y accede a más de 8 cursos y 125 clases  de manera inmediata suscribiéndote </p>
    <img src="images/clases-online-de-bachata.png" class="img-fluid" width="60%" height="60%" alt="...">
    <h1 class="display-5">Nunca antes fue tan fácil aprender a bailar bachata y Salsa</h1>
    <p class="lead">Aprende Bachata   y salsa desde la comodidad de tu casa a tu ritmo. En cada clase se explica la técnica , la elegancia , la fluidez , la musicalidad .  Estudiantes de todo el mundo están conseguiendo en muy poco tiempo lo que otros tardan años . Accede a todos los contenidos y nota tu mejora !</p>
  </div>

  <!-- Cursos Actuales -->
  {{ include('cursos_actuales/index.html.twig') }}

  <div class="row py-5 px-3">
    <div class="col-lg-6 offset-lg-3">
      <button type="button" class="btn btn-primary btn-block">
        Ver todos los cursos
      </button>
    </div>
  </div>

  <!-- Precios -->
  {{ include('precios/index.html.twig') }}

  <!-- Próximos Cursos -->
  {{ include('proximos_cursos/index.html.twig') }}
  
</main>

{{ include('comunes/_footer.html.twig') }}

{% endblock %}