{% extends 'base.html.twig' %}

{% block title %}Salsa Bachata Online{% endblock %}

{% block body %}
<style>
  {{ parent() }}
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</style>

  <div class="starter-template text-center">
    <h1 class="display-5">Cursos</h1>
    <p class="lead"></p>
    <h3></h3>
    <p class="lead">Cursos especializados en Bachata y Salsa con los Mejores profesores. </p>
    <p class="lead font-weight"></p>
    <h4>Publicamos un nuevo curso cada mes</h4>
  </div>

  <div class="example-wrapper">
    <!-- Sección Cursos -->
    
      {% for curso in cursos %}
    {% if (loop.index == 1 ) %}
      <div class="row row-cols-1 row-cols-md-3 g-4">
    {% endif %}
    
       <div class="col">
        <div class="card">
          <img src="{{ curso.urlFoto }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ curso.titulo }} – {{ curso.profesor.nombre }}</h5>
            <p class="card-text">{{ curso.descripcion }}</p>
            <button type="button" class="btn btn-outline-primary btn-block">
                Ver más...
            </button>
          </div>
        </div>
      </div>
      {% if (loop.index == 3) %}
        </div> 
      {% endif %}
    {% endfor %}

      
    
      
{% endblock %}
